$gray-one: #EDF1F6;
$gray-two: #BAC1C8;
$gray-three: #8A939B;
$gray-four: #5E666E;

$orange-one: #FFD1BC;
$orange-two: #FF9767;
$orange-three: #FF5D12;
$orange-four: #AD3700;

$xs-font-size: 12px;
$sm-font-size: 14px;
$md-font-size: 16px;
$lg-font-size: 18px;

$xs-border-radius: 2px;
$sm-border-radius: 4px;
$md-border-radius: 6px;
$lg-border-radius: 8px;

$xs-panel-border-radius: 15px;
$sm-panel-border-radius: 20px;
$md-panel-border-radius: 25px;
$lg-panel-border-radius: 30px;

$xs-panel-padding: 15px;
$sm-panel-padding: 30px;
$md-panel-padding: 40px;
$lg-panel-padding: 50px;

$panel-box-shadow: 0 0 0 1px rgba(0,0,0,0.01),1px 1px 5px rgb(0 0 0/12%);
