.example-title {
    &::before {
        content: "「";
        color: orange;
        margin-right: 10px;
    }

    &::after {
        content: "」";
        color: orange;
        margin-left: 10px;
    }
}

.example-body {
    margin-left: 20px;
}

.example {
    margin-top: 40px;
}

.button-example {
    .button-exmple-content {
        display: flex;
        column-gap: 10px;
        align-items: center;
    }
}

.input-example {
    .input-example-content {
        display: flex;
        column-gap: 10px;
        align-items: center;
    }
}

.number-input-example {
    .number-input-example-content {
        display: flex;
        column-gap: 10px;
        align-items: center;
    }
}

.menu-panel-example {
    .menu-panel-example-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 40px;
        column-gap: 40px;
        margin-top: 50px;
    }
}
